/* button {
  background: #51d52414;
  text-decoration: none;
  border: none;
  padding: 8px 30px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

button .Buy {
  background: red;
}

button:hover {
  border: 2px solid #183c28;
  background: #51d524c9;
  transition: 0.5s;
} */
