.card {
  position: relative;
  width: 240px;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 11px;
  margin: 10px 0 50px 0;
}

.card .box {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 11px;
  box-shadow: 0 15px 37px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .box::before {
  content: '';
  position: absolute;
  bottom: 25%;
  right: 25%;
  width: 90%;
  height: 150%;
  background: rgba(255, 255, 255, 0.05);
  transform: rotate(45deg);
}
.card .box:hover {
  transform: translateY(-25px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  border-color: #eec643a3;
}

/*! CONTENT */
.card .box .content {
  padding: 30px 0px;
  text-align: center;
  z-index: 10;
}

.card .box .content .ranking {
  position: absolute;
  top: 7.5px;
  right: 7.5px;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.1);
}

.card .box .content .name {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  transition: 0.5s;
}

.card .box .content .bigName {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  transition: 0.5s;
}

.card .box .content .logo {
  max-height: 120px;
  padding: 20px;
  z-index: 2;
}

.card .box .content .currentValue {
  font-size: 1.4em;
  font-weight: 300;
  color: #eec643;
  z-index: 1;
  transition: 0.5s;
}

.card .box .content .variation p {
  font-size: 1em;
  font-weight: 500;

  z-index: 1;
  transition: 0.5s;
}

/* .card .box .content .variation .icon {
  color: red;
  font-size: 20px;
} */

/*! BUTTONS  */
.card .box .content .buttons {
  display: flex;
  justify-content: space-around;
}

.card .box .content .buttons button {
  text-decoration: none;
  border: none;
  padding: 8px 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}

.card .box .content .buttons .Buy {
  background: none;
  border: 1px solid var(--verde9-64);
  color: var(--verde7);
}

.card .box .content .buttons .Buy:hover {
  background: var(--verde10);
  border: 1px solid var(--verde7);
  color: #fff;
  transition: 0.2s;
}
.card .box .content .buttons .Sell {
  background: none;
  border: 1px solid var(--azul9-64);
  color: var(--azul7);
}

.card .box .content .buttons .Sell:hover {
  background: var(--azul10);
  border: 1px solid var(--azul7);
  color: #fff;
  transition: 0.2s;
}

/*! BUTTONS - operation */
.card .box .content .operations {
  position: relative;
  top: 20px;
  transition: 0.5s;
}
